.productview-titleFont {
	$myFontFamily: "Baloo Thambi 2", cursive;
	font-family: $myFontFamily;
}

.publicRatingText-font {
	$myFontFamily: "Raleway", cursive;
	font-family: $myFontFamily;
}

.RomBtn-font {
	$myFontFamily: "Rubik", cursive;
	font-family: $myFontFamily;
}

.Productviewfont-size {
	$myFontSize: 12px;
	font-size: $myFontSize;
}

.productview-rating {
	$myFontSize: 14px;
	font-size: $myFontSize;
}

.productview-titleSize {
	font-size: $myFontSize;
}