$myFont: Arial,
Helvetica,
sans-serif;
$myColor:white;
$myHeight: 100%;
$myWidth: 100%;
$myBorderRadius:15px;
$myFontSize: 20px;
$bgColor:rgb(1, 202, 252);
$myTransition:0.4s;
$myLeft:0;
$myposition:relative;
$myWebkitBoxShadow:-1px 9px 27px -8px rgb(0, 247, 255);
$myMozBoxShadow:-1px 9px 27px -8px rgb(0, 247, 255);
$myBoxshadow:-1px 9px 27px -8px rgb(5, 255, 242);
$myOpacity:0.7;
$myBackground: linear-gradient(to left, #4cccb5, #00c5e7);
$myOverflow:hidden;
$myFontFamily: 'Montserrat',
sans-serif;
$myM-Bottom:30px;
$myP-Bottom:20px;
$myBorderColor:#777;
$myPosition:relative;
$myVisibility:hidden;
$myOutline:0;
$myPadding:15px 0;
$myMaxWidth:30%;
$myOverflow:hidden;
$myTextTransform:uppercase;
$myBorder:1px solid #ced4da;
$myDisplay:block;
$myBackgroundColor:#fff;